@import 'tailwindcss';
@plugin 'tailwindcss-animate';

@theme {
  --font-caveat: Caveat;
  --font-bullet: Bullet;
  --font-bullet-game: BulletGame;
  --color-green: #006100;
  --color-red: #ff0b0b;
  --color-primary: #ff9b2a;
}

@font-face {
  font-family: Bullet;
  src: url('/assets/fonts/Bullet-Regular.woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Bullet;
  src: url('/assets/fonts/Bullet-Regular-Italic.woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: BulletGame;
  src: url('/assets/fonts/BulletGame-Regular-v2.woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: BulletGame;
  src: url('/assets/fonts/BulletGame-Bold.woff2');
  font-weight: 700;
  font-style: normal;
}

html,
body {
  min-height: 100vh;
}
body {
  display: flex;
}
#root {
  flex-grow: 1;
}

body {
  font-family: BulletGame;
  line-height: 1.3;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

@keyframes wiggle {
  0% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes click {
  0%,
  100% {
    opacity: 0;
    transform: scale(0.75);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
}

@layer components {
  .custom-scroll {
    @apply overflow-auto [&::-webkit-scrollbar]:h-[3px] [&::-webkit-scrollbar]:w-[3px] [&::-webkit-scrollbar-thumb]:rounded-2xl [&::-webkit-scrollbar-thumb]:bg-[#000] [&::-webkit-scrollbar-track]:bg-[#000]/10;
  }
}
