@import 'tailwindcss';

@theme {
  --font-caveat: Caveat;
}

@font-face {
  font-family: Bullet;
  src: url('/assets/fonts/Bullet-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Bullet;
  src: url('/assets/fonts/Bullet-Regular-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

body {
  font-family: Bullet;
  line-height: 1.3;
}

img {
  max-width: 100%;
}

.animate-bet,
.animate-pull {
  animation: fade-in 0.5s linear;
  animation-fill-mode: both;
}

.animate-click {
  animation: click 0.2s linear;
  animation-fill-mode: both;
}

.animate-offer-text,
.animate-offer-money,
.animate-offer-deal,
.animate-offer-no-deal {
  animation: fade-in 0.5s linear;
  animation-fill-mode: both;
  animation-delay: 0.5s;
}

.animate-offer-money {
  animation-delay: 1s;
}

.animate-offer-deal {
  animation-delay: 1.2s;
}

.animate-offer-no-deal {
  animation-delay: 1.4s;
}

.animate-game-over {
  animation: fade-out 0s linear;
  animation-delay: 0.8s;
  animation-fill-mode: both;
}

.animate-blood,
.animate-blood-you,
.animate-blood-died {
  animation: fade-in 0.1s linear;
  animation-delay: 0.8s;
  animation-fill-mode: both;
}
.animate-blood-you {
  animation-delay: 0.9s;
}
.animate-blood-died {
  animation-delay: 1s;
}

.animate-wiggle {
  animation: wiggle 1s linear infinite;
  animation-delay: 15s;
}

@keyframes wiggle {
  0% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes click {
  0%,
  100% {
    opacity: 0;
    transform: scale(0.75);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
